name: Release

permissions:
  contents: write

on:
  release:
    types: [published]
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      version:
        description: 'Release Version (e.g. v1.0.0)'
        required: true
        default: 'v1.0.0'

env:
  CRATE_NAME: dalamud_stats

jobs:
  build:
    name: Build - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            suffix: ""
            asset_name: dalamud_stats-linux
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            suffix: ".exe"
            asset_name: dalamud_stats-windows.exe
          - os: macos-latest
            target: x86_64-apple-darwin
            suffix: ""
            asset_name: dalamud_stats-macos

    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Rename Binary
        shell: bash
        run: |
          cp target/${{ matrix.target }}/release/${{ env.CRATE_NAME }}${{ matrix.suffix }} ${{ matrix.asset_name }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ matrix.os }}
          path: ${{ matrix.asset_name }}
          retention-days: 1

  publish:
    name: Publish Release
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Download All Artifacts
        uses: actions/download-artifact@v4
        with:
          path: all-assets
          pattern: binary-*
          merge-multiple: true

      - name: Display Files (Debug)
        run: ls -R all-assets

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ inputs.version || github.ref_name }}
          files: all-assets/*
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}